#prevent assorted .json's syncing
accounts.json
usercache.json
realms_persistence.json

#fabric data
.fabric

#logs
logs

#mod translations
ModTranslations

#Save Game Data
saves

#crash reports
crash-reports/

#waypoints
waypoints/