# List of tools that allow for an indirect hit when a torch is being held in the off hand.
# Leave empty to disable indirect hits.
# Insert either item categories or specific item IDs.
indirectHitToolList = [sword, axe, pickaxe, shovel, hoe]
# Fire damage duration for indirect (off hand + tool) hits.
# Range: 1 ~ 8
indirectHitDuration = 2
# Fire damage duration for direct (main hand) hits.
# Range: 1 ~ 8
directHitDuration = 4
